<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SaveErrorMessagesToErrorLog" value="true"/>
    <add key="ApplicationLogFileName" value="App.log"/>
    <add key="WindowsEventLog" value="Application"/>
    <add key="WindowsEventLogEventSource" value="PFApps"/>
    <add key="WindowsEventLogMachineName" value="."/>
    <!-- Do not specify folder path for EventSourceInitializer if executable is in same folder as the application executable.-->
    <add key="EventSourceInitializer" value="C:\ProFast\Projects\DotNetClassesV3\WinAppComponents\InitWinAppLogSource\bin\Release\InitWinAppLogSource.exe"/>
    <!-- Leave working directory path as blank (empty string) to default to the same folder as the application executable.-->
    <add key="EventSourceInitializerWorkingDirectory" value="C:\ProFast\Projects\DotNetClassesV3\WinAppComponents\InitWinAppLogSource\bin\Release\"/>

  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
