<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SaveErrorMessagesToErrorLog" value="true"/>
    <add key="ApplicationLogFileName" value="App.log"/>

    <add key="XmlNoSchemaFileName" value="TestXmlNoSchema.xml"/>
    <add key="XmlWithSchemaFileName" value="TestXmlWithSchema.xml"/>
    <add key="TabXmlNoSchemaFileName" value="TestTabXmlNoSchema.xml"/>
    <add key="TabXmlWithSchemaFileName" value="TestTabXmlWithSchema.xml"/>

    <add key="textDelimDataFileName" value="TableTestExtractDelim.txt"/>
    <add key="textDelimDataLineFormatFileName" value="TableTestExtractDelimLineFormat.xml"/>
    <add key="textFixedLengthDataFileName" value="TableTestExtractFxl.txt"/>
    <add key="textFixedLengthDataLineFormatFileName" value="TableTestExtractFxlLineFormat.xml"/>
    <add key="textFixedLengthNoCrLfDataFileName" value="TableTestExtractFxlNoCrLf.txt"/>
    <add key="textFixedLengthNoCrLfDataLineFormatFileName" value="TableTestExtractFxlNoCrLfLineFormat.xml"/>


  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
