<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StaticKeysSection" type="TestprogDatabase.StaticKeysSection, TestprogDatabase"  />
  </configSections>

  <StaticKeysSection 
      MainFormCaption="TestprogDatabase Application"
      MinAppThreads="1"
      MaxAppThreads="25"
      RequireLogon="False"
      ValidBooleanValues ="true,false,yes,no,y,n,True,False,Yes,No,Y,N,TRUE,FALSE,YES,NO"
    />


  <appSettings>
    <add key="SaveErrorMessagesToErrorLog" value="true"/>
    <add key="ApplicationLogFileName" value="App.log"/>

    <add key="MSSQLServer" value="PFDataAccessObjects|PFSQLServer|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="SQLServerCE35" value="PFSQLServerCE35Objects|PFSQLServerCE35|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFSQLServerCE35Objects.dll"/>
    <add key="SQLServerCE40" value="PFSQLServerCE40Objects|PFSQLServerCE40|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFSQLServerCE40Objects.dll"/>
    <add key="MSAccess" value="PFDataAccessObjects|PFMsAccess|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="MSOracle" value="PFDataAccessObjects|PFMsOracle|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="OracleNative" value="PFOracleObjects|PFOracle|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFOracleObjects.dll"/>
    <add key="MySQL" value="PFMySQLObjects|PFMySQL|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFMySQLObjects.dll"/>
    <add key="DB2" value="PFDB2Objects|PFDB2|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDB2Objects.dll"/>
    <add key="Informix" value="PFInformixObjects|PFInformix|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFInformixObjects.dll"/>
    <add key="Sybase" value="PFSybaseObjects|PFSybase|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFSybaseObjects.dll"/>
    <add key="SQLAnywhere" value="PFSQLAnywhereObjects|PFSQLAnywhere|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFSQLAnywhereObjects.dll"/>
    <add key="SQLAnywhereUltraLite" value="PFSQLAnywhereULObjects|PFSQLAnywhereUL|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFSQLAnywhereULObjects.dll"/>
    <add key="ODBC" value="PFDataAccessObjects|PFOdbc|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="OLEDB" value="PFDataAccessObjects|PFOleDb|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="Unknown" value="PFDataAccessObjects|PFDatabase|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>

  </appSettings>

  <connectionStrings>
    <add name="DefaultServer"
         providerName="System.Data.SqlClient"
         connectionString="Server=profastws1;Database=Northwind;Trusted_Connection=True;" />

    <add name="DefaultCEServer"
         providerName="System.Data.SqlServerCE"
         connectionString="Data Source=C:\Temp\test01_35.sdf;Persist Security Info=False;" />

  </connectionStrings>

  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    <runtime>
      <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
        <dependentAssembly>
          <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89B483F429C47342" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-4.112.3.0" newVersion="4.112.3.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="IBM.Data.DB2" publicKeyToken="7C307B91AA13D208" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-9.7.4.4" newVersion="9.7.4.4"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="MySql.Data" publicKeyToken="C5687FC88969C44D" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-6.7.4.0" newVersion="6.8.3.0"/>
        </dependentAssembly>
        <dependentAssembly>
          <assemblyIdentity name="IBM.Data.Informix" publicKeyToken="7C307B91AA13D208" culture="neutral"/>
          <bindingRedirect oldVersion="0.0.0.0-9.7.4.4" newVersion="9.7.4.4"/>
        </dependentAssembly>
      </assemblyBinding>
    </runtime>

  </startup>
</configuration>
