<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SaveErrorMessagesToErrorLog" value="true"/>
    <add key="ApplicationLogFileName" value="App.log"/>


    <!-- If false, Mru list is saved to file system.-->
    <add key="SaveMruListToRegistry" value="False"/>
    <!-- SubFolder will be located in the user's mydocuments folder.-->
    <!-- File containing Mru List is automatically named MruList.txt-->
    <add key="MRUListSaveFileSubFolder" value="PFApps\TesprogAppUtils\Mru\"/>
    <!-- SubKey will be located under Registry.CurrentUser key.-->
    <!-- Application automatically adds MRU subkey to the registry key specified below. -->
    <add key="MRUListSaveRegistryKey" value="SOFTWARE\PFApps\TestprogAppUtils\"/>
    <!-- Maximum number of MRU List entries.-->
    <add key="MaxMruListEntries" value="12"/>
    <!-- Mru List display type: SubMenu or Inline -->
    <add key="UseSubMenuForMruList" value="true"/>
    <!-- Max length to shorten path to -->
    <add key="MaxShortenPathLength" value="256"/>


  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
