<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StaticKeysSection" type="TestprogConnectionObjects.StaticKeysSection, TestprogConnectionObjects"  />
  </configSections>

  <StaticKeysSection 
      MainFormCaption="TestprogConnectionObjects Application"
      MinAppThreads="1"
      MaxAppThreads="25"
      RequireLogon="False"
      ValidBooleanValues ="true,false,yes,no,y,n,True,False,Yes,No,Y,N,TRUE,FALSE,YES,NO"
    />


  <appSettings>
    <add key="SaveErrorMessagesToErrorLog" value="true"/>
    <add key="ApplicationLogFileName" value="App.log"/>
    <add key="Testkey01" value="test value 01"/>
    <add key="Testkey02" value="test value 02"/>
    <add key="Testkey03" value="test value 03"/>
    <add key="Testkey04" value="test value 04"/>
    <add key="Testkey05" value="test value 05"/>

    <add key="MSSQLServer" value="PFDataAccessObjects|PFSQLServer|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="SQLServerCE35" value="PFSQLServerCE35Objects|PFSQLServerCE35|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFSQLServerCE35Objects.dll"/>
    <add key="SQLServerCE40" value="PFSQLServerCE40Objects|PFSQLServerCE40|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFSQLServerCE40Objects.dll"/>
    <add key="MSAccess" value="PFDataAccessObjects|PFMsAccess|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="MSOracle" value="PFDataAccessObjects|PFMsOracle|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="OracleNative" value="PFOracleObjects|PFOracle|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFOracleObjects.dll"/>
    <add key="MySQL" value="PFMySQLObjects|PFMySQL|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFMySQLObjects.dll"/>
    <add key="DB2" value="PFDB2Objects|PFDB2|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDB2Objects.dll"/>
    <add key="Informix" value="PFInformixObjects|PFInformix|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFInformixObjects.dll"/>
    <add key="Sybase" value="PFSybaseObjects|PFSybase|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFSybaseObjects.dll"/>
    <add key="SQLAnywhere" value="PFSQLAnywhereObjects|PFSQLAnywhere|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFSQLAnywhereObjects.dll"/>
    <add key="SQLAnywhereUltraLite" value="PFSQLAnywhereULObjects|PFSQLAnywhereUL|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFSQLAnywhereULObjects.dll"/>
    <add key="ODBC" value="PFDataAccessObjects|PFOdbc|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="OLEDB" value="PFDataAccessObjects|PFOleDb|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>
    <add key="Unknown" value="PFDataAccessObjects|PFDatabase|..\..\..\..\..\Binaries\ProFast\ClassLibraries\Release\PFDataAccessObjects.dll"/>


    <add key="DefaultConnection_SQLServerCE35" value="data source='C:\Testfiles\Randomizer\TestTables.sdf';"/>
    <add key="DefaultConnection_SQLServerCE40" value="data source='c:\SQLData\nametestV4.sdf';"/>
    <add key="DefaultConnection_OracleNative" value="Data Source=PROFASTSV4ORA;User ID=SYSTEM;Password=NEW1992;"/>
    <add key="DefaultConnection_MySQL" value="server=PROFASTSV4MYSQL; port=3306; database=SAKILA;User Id=Mike; password=MIKE92;"/>
    <add key="DefaultConnection_DB2" value="Database=SAMPLE;User ID=DB2ADMIN;Password=DB21992;Server=PROFASTSV4DB2:50000;"/>
    <add key="DefaultConnection_Informix" value="Database=miketest;User ID=informix;Password=IMX1992;Server=profastsv4imx:9089;"/>
    <add key="DefaultConnection_Sybase" value="Data Source=PROFASTSV2SYB;Port=5000;Database=AdventureWorks;Uid=SA;Pwd=SA1992;"/>
    <add key="DefaultConnection_SQLAnywhere" value="UserID=DBA;Password=sql;DatabaseName=AdventureWorks;DatabaseFile=C:\Testdata\SQLAnywhere\AdventureWorks.db;ServerName=AdventureWorks"/>
    <add key="DefaultConnection_SQLAnywhereUltraLite" value="nt_file=C:\Testdata\SQLAnywhere\Test1.udb;dbn=Test1;uid=DBA;pwd=sql"/>
    <add key="DefaultConnection_MSSQLServer" value="Data Source=PROFASTSV2; Initial Catalog=AdventureWorksDW2008R2; Integrated Security=True; Application Name=TestprogRandomNames; Workstation ID=PROFASTWS5;"/>
    <add key="DefaultConnection_MSAccess" value="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=C:\Testdata\Access\TestDataOutput.accdb;User Id=admin;Password=;Jet OLEDB:Engine Type=6"/>
    <add key="DefaultConnection_MSOracle" value="Data Source=PROFASTSV4ORA;User ID=SYSTEM;Password=NEW1992;"/>
    <add key="DefaultConnection_ODBC" value="Driver={Oracle in OraClient11g_home1};Dbq=ORASV4;Uid=SYSTEM;Pwd=NEW1992;"/>
    <add key="DefaultConnection_OLEDB" value="Provider=IBMDADB2;Database=sample;Hostname=profastsv4db2;Port=50000;Protocol=TCPIP;Uid=Mike;Pwd=MIKE92;"/>

  </appSettings>

  <connectionStrings>
    <add name="DefaultServer"
         providerName="System.Data.SqlClient"
         connectionString="Server=profastws1;Database=Northwind;Trusted_Connection=True;" />

    <add name="DefaultCEServer"
         providerName="System.Data.SqlServerCE"
         connectionString="Data Source=C:\Temp\test01_35.sdf;Persist Security Info=False;" />

  </connectionStrings>

  <startup>
  <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
</startup>
</configuration>
