<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StaticKeysSection" type="TestprogWinFTP.StaticKeysSection, TestprogWinFTP" />
  </configSections>
  <StaticKeysSection MainFormCaption="TestprogWinFTP Application" MinAppThreads="1" MaxAppThreads="25" RequireLogon="False" ValidBooleanValues="true,false,yes,no,y,n,True,False,Yes,No,Y,N,TRUE,FALSE,YES,NO" />
  <appSettings>
    <add key="SaveErrorMessagesToErrorLog" value="true" />
    <add key="ApplicationLogFileName" value="App.log" />
    <add key="FtpServer" value="ftp://profastws2" />
    <add key="FtpPort" value="21" />
    <add key="FtpUsername" value="ftp" />
    <add key="FtpPassword" value="ftp" />
    <add key="UseSSL" value="false" />
    <add key="UseBinaryMode" value="true" />
    <add key="RetryTimeout(milliseonds)" value="300000" />
    <add key="BufferSize" value="2048" />
    <add key="LocalSourceFile" value="c:\temp\Test1s.txt" />
    <add key="RemoteFile" value="/FTPTest/Test1s.txt" />
    <add key="RenameTo" value="Test1sREN.txt" />
    <add key="LocalDestinationFile" value="c:\temp\Testdownload1.txt" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <connectionStrings>
    <add name="DefaultServer" providerName="System.Data.SqlClient" connectionString="Server=profastws1;Database=Northwind;Trusted_Connection=True;" />
    <add name="DefaultCEServer" providerName="System.Data.SqlServerCE" connectionString="Data Source=C:\Temp\test01_35.sdf;Persist Security Info=False;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>