<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SaveErrorMessagesToErrorLog" value="true"/>
    <add key="ApplicationLogFileName" value="App.log"/>
    <add key="EmailResendQueueDatabaseConnectionString" value="data source='C:\Temp\TestAppFolders\Databases\Lists.sdf'"/>


    <!-- Email settings -->
    <add key="SmtpServer" value="PROFASTWS5"/>
    <add key="SenderAddress" value="testprog@profastws5"/>
    <add key="FromAddress" value="testprog@profastws5"/>
    <add key="ToAddress" value="mike@WS9"/>
    <add key="CcAddress" value="miketest@WS9;mike2@WS9"/>
    <add key="BccAddress" value=""/>
    <add key="MessageSubject" value="Test message is ..."/>
    <add key="MessageBody" value="something like this."/>
    <add key="SendTimeout" value="100000"/>
    <add key="MaxIdleTime" value="1"/>
    <add key="SmtpPort" value="25"/>
    <add key="EnableSsl" value="false"/>


  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
