<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="StaticKeysSection" type="pfEncryptor.StaticKeysSection, TestprogEncryptor"  />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="pfEncryptor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>

  <StaticKeysSection
      MainFormCaption="TestprogEncryptor Application"
      MinAppThreads="1"
      MaxAppThreads="25"
      RequireLogon="False"
      ValidBooleanValues="true,false,yes,no,y,n,True,False,Yes,No,Y,N,TRUE,FALSE,YES,NO"
      TestfileName ="TutorialTestfile.txt"
    />


  <appSettings>
    <add key="SaveErrorMessagesToErrorLog" value="true"/>
    <add key="ApplicationLogFileName" value="pfEncryptor.log"/>
    <add key="ApplicationName" value="pfEncryptor"/>
    <add key="HelpFileName" value="pfEncryptor.chm"/>
    <add key="appConfigManagerPath" value=""/>
    <add key="DefaultKeyIVSaveFolder" value=""/>
    <add key="DefaultEncryptionDefinitionsFolder" value=""/>
    <add key="DefaultDecryptionDefinitionsFolder" value=""/>

  </appSettings>

  <connectionStrings>
    <add name="DefaultServer"
         providerName="System.Data.SqlClient"
         connectionString="Server=profastws1;Database=Northwind;Trusted_Connection=True;" />

    <add name="DefaultCEServer"
         providerName="System.Data.SqlServerCE"
         connectionString="Data Source=C:\Temp\test01_35.sdf;Persist Security Info=False;" />

  </connectionStrings>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <pfEncryptor.Properties.Settings>
      <setting name="DefaultEncryptionSourceFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultEncryptionDestinationFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultDecryptionSourceFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DefaultDecryptionDestinationFolder" serializeAs="String">
        <value />
      </setting>
    </pfEncryptor.Properties.Settings>
  </userSettings>
</configuration>
